<app-page>
    <div>
        <app-code-snippet 
            *ngFor="let snippet of codeSnippets"
            [id]="snippet.id" 
            [title]="snippet.title" 
            [codeContent]="snippet.codeContent" 
            [description]="snippet.description" 
            [programmingLanguage]="snippet.programmingLanguage" 
            [fileUrl]="snippet.fileUrl" 
            [createdAt]="snippet.createdAt" 
            [createdBy]="snippet.createdBy" 
            [tags]="snippet.tags" 
            [likesCount]="snippet.likesCount" 
            [commentsCount]="snippet.commentsCount" 
            [createdById]="snippet.createdById">
        </app-code-snippet>
    </div>
</app-page>